cron: "0 1 * * *"
archive_base_name: backup
out_dir: ./backup/
files:
  - type: sqlite
    src: /var/lib/vaultwarden/db.sqlite3
    dst: db.sqlite3
  - type: glob
    src_dir: /var/lib/vaultwarden/
    globset:
      - sends/**/*
      - attachments/**/*
      - rsa_key*
      - icon_cache/**/*
  - type: base64
    content: "SGVsbG8gSSBsb3ZlIHU="
    dst: test.iluvu.txt
notifications:
  - type: "smtp"
    host: "smtp.example.com"
    smtp_mode: "Ssl"
    from: "admin@example.com"
    to: [ "you@example.com", "me@example.com" ]
    username: "username"
    password: "password"
encryptor:
  encryptor_type: age
  secret_type: passphrase
  passphrase: "password"
compressor:
  compressor_type: xz
retention:
  default_retention: 0s
  daily_retention: 3day
  monthly_retention: 3month
  yearly_retention: 3year